.site-header .site-branding .custom-logo {
	max-width: 458px;
}
.container {
	max-width: 1170px;
}
body.startwp-frontend-styles {
	color: rgb(58, 58, 58); line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow {
	color: rgb(58, 58, 58); line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px; font-weight: 400;
}
body.startwp-frontend-styles a:not(.wp-block-button__link) {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles a:not(.wp-block-button__link):visited {
	color: rgb(30, 115, 190);
}
.editor-styles-wrapper .editor-writing-flow a:not(.wp-block-button__link) {
	color: rgb(30, 115, 190);
}
.editor-styles-wrapper .editor-writing-flow a:not(.wp-block-button__link):visited {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles a:not(.wp-block-button__link):hover {
	color: rgb(0, 0, 0);
}
.editor-styles-wrapper .editor-writing-flow a:not(.wp-block-button__link):hover {
	color: rgb(0, 0, 0);
}
.editor-styles-wrapper .editor-writing-flow .editor-post-title__input {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h3 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h4 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h5 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
.editor-styles-wrapper .editor-writing-flow h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h3 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h4 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h5 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400;
}
body.startwp-frontend-styles h1 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 48px;
}
.editor-styles-wrapper .editor-writing-flow h1 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 48px;
}
.editor-styles-wrapper .editor-writing-flow .editor-post-title__input {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 48px;
}
body.startwp-frontend-styles h2 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 42px;
}
.editor-styles-wrapper .editor-writing-flow h2 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 42px;
}
body.startwp-frontend-styles h3 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 30px;
}
.editor-styles-wrapper .editor-writing-flow h3 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 30px;
}
body.startwp-frontend-styles h4 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 20px;
}
.editor-styles-wrapper .editor-writing-flow h4 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 20px;
}
body.startwp-frontend-styles h5 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 18px;
}
.editor-styles-wrapper .editor-writing-flow h5 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 18px;
}
body.startwp-frontend-styles h6 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 15px;
}
.editor-styles-wrapper .editor-writing-flow h6 {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-size: 15px;
}
body.startwp-frontend-styles {
	background-color: rgb(255, 255, 255);
}
body.startwp-frontend-styles .site-content {
	background-color: transparent;
}
.editor-styles-wrapper {
	background-color: transparent;
}
body.startwp-frontend-styles .site-content {
	padding: 40px 15px;
}
body.startwp-frontend-styles .site-header .site-title a {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 45px; font-weight: 700;
}
body.startwp-frontend-styles .site-header .site-title a:hover {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .site-description {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 14px;
}
body.startwp-frontend-styles .site-header {
	background-color: rgb(229, 232, 232);
}
body.startwp-frontend-styles .site-header .header-left {
	padding: 20px 15px;
}
body.startwp-frontend-styles .site-header .header-center {
	padding: 20px 15px;
}
body.startwp-frontend-styles .site-header .header-right {
	padding: 20px 15px;
}
body.startwp-frontend-styles .start_nav ul li a {
	color: rgb(0, 0, 0); text-transform: none; line-height: 3.8; letter-spacing: 0px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 20px; font-weight: 400; background-color: transparent;
}
body.startwp-frontend-styles .start_nav ul li a:hover {
	background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .start_nav ul li:hover a {
	background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .start_nav ul li a:hover {
	color: rgb(0, 136, 204);
}
body.startwp-frontend-styles .start_nav ul li.current-menu-item a {
	color: rgb(0, 136, 204); background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .start_nav ul li.current_page_ancestor a {
	color: rgb(0, 136, 204); background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .start_nav li a::after {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .start_nav .sub_toggle {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .start_nav ul.sub-menu li a {
	color: rgb(0, 0, 0); background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .start_nav .sub-menu li a:hover {
	color: rgb(0, 136, 204); background-color: rgb(199, 204, 208);
}
body.startwp-frontend-styles .start_nav .sub-menu li.current-menu-ancestor > a {
	color: rgb(0, 136, 204); background-color: rgb(199, 204, 208);
}
body.startwp-frontend-styles .start_nav .sub-menu li.current_page_item > a {
	color: rgb(0, 136, 204); background-color: rgb(199, 204, 208);
}
body.startwp-frontend-styles .start_nav ul ul li a {
	text-transform: none; line-height: 3.8; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px; font-weight: 400;
}
body.startwp-frontend-styles .start_nav .menu_toggle {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .start_nav .sub_toggle {
	color: rgb(255, 255, 255); background-color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .start_blog .entry-meta span::after {
	content: "/";
}
body.startwp-frontend-styles .start_blog .entry-title {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .start_blog .entry-title a {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .start_blog .entry-title a:hover {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles .start_blog .entry-meta {
	color: rgb(148, 151, 156);
}
body.startwp-frontend-styles .entry-meta span::after {
	color: rgb(148, 151, 156);
}
body.startwp-frontend-styles .start_blog .entry-meta a {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles .start_blog .entry-meta a:hover {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .start_blog .entry-meta {
	text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px;
}
body.startwp-frontend-styles .start_blog .entry-content {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px;
}
body.startwp-frontend-styles .start_blog .entry-content .read-more {
	background: rgb(229, 232, 232); color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px;
}
body.startwp-frontend-styles .start_blog .entry-content .read-more:hover {
	background: rgb(207, 215, 207); color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .posts-navigation .nav-links a {
	color: rgb(30, 115, 190); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px; font-weight: 400;
}
body.startwp-frontend-styles .post-navigation .nav-links a {
	color: rgb(30, 115, 190); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px; font-weight: 400;
}
body.startwp-frontend-styles .posts-navigation .nav-links a:hover {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .post-navigation .nav-links a:hover {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .blog_and_archive {
	padding: 45px 0px 20px;
}
body.startwp-frontend-styles .right-sidebar {
	grid-column-gap: 25px;
}
body.startwp-frontend-styles .left-sidebar {
	grid-column-gap: 25px;
}
body.startwp-frontend-styles #secondary .widget-title {
	text-align: left; color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; letter-spacing: 0px; font-family: inherit; font-size: 23px;
}
body.startwp-frontend-styles #secondary .widget {
	text-align: left; color: rgb(58, 58, 58); text-transform: none; line-height: 1.5; letter-spacing: 0px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px; font-weight: 400; background-color: transparent;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-two {
	grid-column-gap: 15px;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-three {
	grid-column-gap: 15px;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-four {
	grid-column-gap: 15px;
}
body.startwp-frontend-styles .site-footer .widget-title {
	text-align: left; color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; letter-spacing: 0px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 20px; font-weight: 400;
}
body.startwp-frontend-styles .site-footer .widget {
	text-align: left; color: rgb(58, 58, 58); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px; font-weight: 400;
}
body.startwp-frontend-styles .site-footer .footer-area {
	background-color: rgb(229, 232, 232);
}
body.startwp-frontend-styles .site-footer .footer-area .footer-one {
	padding: 30px 15px;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-two {
	padding: 30px 15px;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-three {
	padding: 30px 15px;
}
body.startwp-frontend-styles .site-footer .footer-area .footer-four {
	padding: 30px 15px;
}
body.startwp-frontend-styles .site-footer .site-info {
	text-align: center; color: rgb(58, 58, 58); text-transform: none; line-height: 1.5; font-size: 17px;
}
body.startwp-frontend-styles .site-info {
	background-color: rgb(213, 216, 220);
}
body.startwp-frontend-styles .site-footer .site-info {
	padding: 10px 15px;
}
body.startwp-frontend-styles .site-footer .site-info .container {
	padding: 10px 15px;
}
body.startwp-frontend-styles .error-404 .page-header .page-title {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .error-404 .page-content {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px;
}
body.startwp-frontend-styles .error-404 .page-content .read-more {
	background: rgb(229, 232, 232); color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px;
}
body.startwp-frontend-styles .error-404 .page-content .read-more:hover {
	background: rgb(207, 215, 207); color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .search_blog .entry-meta span::after {
	content: "/";
}
body.startwp-frontend-styles .search_title {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .search_blog .entry-title {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .search_blog .entry-title a {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 48px;
}
body.startwp-frontend-styles .search_blog .entry-title a:hover {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles .search_blog .entry-meta {
	color: rgb(148, 151, 156);
}
body.startwp-frontend-styles .entry-meta span::after {
	color: rgb(148, 151, 156);
}
body.startwp-frontend-styles .search_blog .entry-meta a {
	color: rgb(30, 115, 190);
}
body.startwp-frontend-styles .search_blog .entry-meta a:hover {
	color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .search_blog .entry-meta {
	text-transform: none; line-height: 1; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px;
}
body.startwp-frontend-styles .search_blog .entry-content {
	color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 17px;
}
body.startwp-frontend-styles .search_blog .entry-content .read-more {
	background: rgb(229, 232, 232); color: rgb(0, 0, 0); text-transform: none; line-height: 1.5; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 16px;
}
body.startwp-frontend-styles .search_blog .entry-content .read-more:hover {
	background: rgb(207, 215, 207); color: rgb(0, 0, 0);
}
body.startwp-frontend-styles .search_blog {
	padding: 45px 0px 20px;
}
