.swp-archive-title {
	
}
.swp-archive-rating {
	
}
.swp-archive-price {
	
}
.swp-archive-description {
	
}
.swp-archive-category {
	
}
.swp-archive-cart {
	
}
.swp-archive-image {
	position: relative;
}
.swp-archive-image img {
	margin: 0px !important;
}
.swp-archive-title .product_title {
	margin: 0px !important;
}
.swp-archive-title {
	margin-bottom: 10px; display: block;
}
.swp-archive-rating {
	margin-bottom: 10px; display: block;
}
.swp-archive-price {
	margin-bottom: 10px; display: block;
}
.swp-archive-image {
	margin-bottom: 10px; display: block;
}
.swp-archive-description {
	margin-bottom: 10px; display: block;
}
.swp-archive-category {
	margin-bottom: 10px; display: block;
}
.swp-archive-cart {
	margin-bottom: 10px; display: block;
}
.swp-single-title {
	
}
.swp-single-rating {
	
}
.swp-single-price {
	
}
.swp-single-meta {
	
}
.swp-single-description {
	
}
.swp-single-cart {
	
}
